.error-page{
    position: relative;
    animation-name: errores;
    animation-duration: 4s;
    animation-iteration-count:3; 
}

@keyframes errores{
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:300px; top:200px;}
    75%  { left:50px; top:200px;}
    100% { left:0px; top:0px;}
}