
<!-- Instagram Begin -->
<div class="instagram mt-5 " *ngIf>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" style="background-image: url(https://i.postimg.cc/kgjwwZZ1/insta-1.jpg);">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="https://www.instagram.com/variedadesjastoh/?igshid=v5r52ujztizn" target="_black">@ variedadesjastoh</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" style="background-image: url(https://i.postimg.cc/KcnNC4wg/insta-2.jpg);">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="https://www.instagram.com/variedadesjastoh/?igshid=v5r52ujztizn" target="_black">@ variedadesjastoh</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" style="background-image: url(https://i.postimg.cc/CxKsZ71j/insta-3.jpg);">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="https://www.instagram.com/variedadesjastoh/?igshid=v5r52ujztizn" target="_black">@ variedadesjastoh</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" style="background-image: url(https://i.postimg.cc/pdhQCdKr/insta-4.jpg);">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="https://www.instagram.com/variedadesjastoh/?igshid=v5r52ujztizn" target="_black">@ variedadesjastoh</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" style="background-image: url(https://i.postimg.cc/PJhmdz9v/insta-5.jpg);">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="https://www.instagram.com/variedadesjastoh/?igshid=v5r52ujztizn" target="_black">@ variedadesjastoh</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" style="background-image: url(https://i.postimg.cc/fyKYySQ2/insta-6.jpg);">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="https://www.instagram.com/variedadesjastoh/?igshid=v5r52ujztizn" target="_black">@ variedadesjastoh</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Instagram End -->
<div>
    <div class="banner__slider_custom owl-carousel owl-theme">
        <div class="item">
                <div class="instagram__item set-bg" style="background-image: url(https://i.postimg.cc/kgjwwZZ1/insta-1.jpg);">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="https://www.instagram.com/variedadesjastoh/?igshid=v5r52ujztizn" target="_black">@ variedadesjastoh</a>
                    </div>
                </div>
        </div>
        <div class="item">
            <div class="instagram__item set-bg" style="background-image: url(https://i.postimg.cc/KcnNC4wg/insta-2.jpg);">
                <div class="instagram__text">
                    <i class="fa fa-instagram"></i>
                    <a href="https://www.instagram.com/variedadesjastoh/?igshid=v5r52ujztizn" target="_black">@ variedadesjastoh</a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="instagram__item set-bg" style="background-image: url(https://i.postimg.cc/CxKsZ71j/insta-3.jpg);">
                <div class="instagram__text">
                    <i class="fa fa-instagram"></i>
                    <a href="https://www.instagram.com/variedadesjastoh/?igshid=v5r52ujztizn" target="_black">@ variedadesjastoh</a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="instagram__item set-bg" style="background-image: url(https://i.postimg.cc/pdhQCdKr/insta-4.jpg);">
                <div class="instagram__text">
                    <i class="fa fa-instagram"></i>
                    <a href="https://www.instagram.com/variedadesjastoh/?igshid=v5r52ujztizn" target="_black">@ variedadesjastoh</a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="instagram__item set-bg" style="background-image: url(https://i.postimg.cc/PJhmdz9v/insta-5.jpg);">
                <div class="instagram__text">
                    <i class="fa fa-instagram"></i>
                    <a href="https://www.instagram.com/variedadesjastoh/?igshid=v5r52ujztizn" target="_black">@ variedadesjastoh</a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="instagram__item set-bg" style="background-image: url(https://i.postimg.cc/fyKYySQ2/insta-6.jpg);">
                <div class="instagram__text">
                    <i class="fa fa-instagram"></i>
                    <a href="https://www.instagram.com/variedadesjastoh/?igshid=v5r52ujztizn" target="_black">@ variedadesjastoh</a>
                </div>
            </div>
        </div>
        
    </div>
</div>


<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a routerLink="/inicio"><img src="assets/images/icono.jpeg" alt="Variedades Jastho"></a>
                    </div>
                    <p>Bienvenidos a Jasto'H aqui encontraras una variedad de 
                        productos tanto para caballero, dama, niño y niña o una
                         gran variedad de productos, no lo pienses mas y hecha
                          un vistazo a todos nuestros productos
                    </p>
                    
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>ENLACES RÁPIDOS </h6>
                    <ul>
                        <li><a class="cursor-pointer" routerLink="/contactos">Contactanos</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Mi Cuenta</h6>
                    <ul>
                        <li><a >My cuenta</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                   
                    <div class="footer__social">
                        <a class="cursor-pointer" (click)="contactos('facebook')"><i class="fab fa-facebook"></i></a>
                        <a class="cursor-pointer" (click)="contactos('instagram')"><i class="fab fa-instagram"></i></a>
                        <a class="cursor-pointer" (click)="contactos('whatsapp')"><i class="fab fa-whatsapp"></i></a>
                        <a class="cursor-pointer" (click)="contactos('telegram')"><i class="fab fa-telegram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p class="text-center">© {{year}} Jasto´H. Todos los derechos reservados </p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->