



<div class="mt-10">
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm">
        <img
          loading="lazy"
          src="assets/images/jastho.jpeg"
          alt="variedades jastho"
          class="rounded-full img-fluid img-shadow"
        />
      </div>
      <div class="col-sm">
        <div class="container mt-5">
          <h1 class="text-center">Variedades Jastho</h1>
          <p class="mt-5">
            Bienvenidos a Jastho aqui encontraras una variedad de productos
            tanto para caballero, dama, niño y niña o una gran variedad de
            productos, no lo pienses mas y hecha un vistazo a todos nuestros
            productos
          </p>

          <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-lg color-rojo btn-hover" routerLink="/productos">Ver Productos           <i class="fas fa-shopping-bag"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
      <h2 class="text-center">ENVIO RAPIDO </h2>
      <p>Al adquirir un producto con nosotros tendras la satisfacción de la rapidez de entrega.</p>
      <div class="text-center color-rojo">
        <i class="fas fa-shipping-fast fa-10x"></i>
      </div>
    </div>
    <div class="col-sm">
      <h2 class="text-center">PAGOS SEGUROS</h2>
      <P>Al adquirir un producto con nosotros tendras garantizado tu compra por metodos seguros de pago.</P>
      <div class="text-center color-rojo">
        <i class="fas fa-money-check-alt fa-10x"></i>
      </div>
    </div>
  </div>
</div>

<app-inicio-banner></app-inicio-banner>

