<div class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img
          src="assets/images/jastho.jpeg"
          alt="variedades jastho"
          class="rounded-full img-fluid img-shadow"
        />
      </div>
      <div class="col-sm">
        <div class="container mt-5">
          <h2 class="text-center">Variedades Jasto´H</h2>
          <p class="mt-5">
            Bienvenidos a Jasto´H aqui encontraras una variedad de productos
            tanto para Caballero, Dama , Niño , Niña o una gran variedad de
            productos no lo pienses mas y echa un vistazo a todos nuestros
            productos
          </p>

          <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-lg btn-dark btn-hover" routerLink="/productos">Ver Productos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="accordion accordion-flush mt-5 border" id="accordionFlushExample" *ngIf="!getAceptacion()">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
       Uso de cookies
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Empleamos las cookies para facilitar la utilización de nuestra pagina y adaptar mejor las Páginas y nuestros productos a sus intereses y necesidades.
        <strong>Recalcando</strong> no se reocupilara sus datos. <strong>Estamos Comprometidos con su seguridad.</strong>
        <br>
        <button class="btn btn-lg btn-success" (click)="aceptarCookies()">Aceptar</button>
      </div>
    </div>
  </div>
</div>