



<div class="mt-10">
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm">
        <img
          src="assets/images/jastho.jpeg"
          alt="variedades jastho"
          class="rounded-full img-fluid img-shadow"
        />
      </div>
      <div class="col-sm">
        <div class="container mt-5">
          <h2 class="text-center">Variedades Jasto'H</h2>
          <p class="mt-5">
            Bienvenidos a Jasto'H aqui encontraras una variedad de productos
            tanto para caballero,dama,niño y niña o una gran variedad de
            productos, no lo pienses mas y hecha un vistazo a todos nuestros
            productos
          </p>

          <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-lg color-rojo btn-hover" routerLink="/productos">Ver Productos           <i class="fas fa-shopping-bag"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
      <h2 class="text-center">ENVIO RAPIDO </h2>
      <p>Al adquirir un producto con nosotros tendras la satisfacción de la rapidez de entrega.</p>
      <div class="text-center color-rojo">
        <i class="fas fa-shipping-fast fa-10x"></i>
      </div>
    </div>
    <div class="col-sm">
      <h2 class="text-center">PAGOS SEGUROS</h2>
      <P>Al adquirir un producto con nosotros tendras garantizado tu compra por metodos seguros de pago.</P>
      <div class="text-center color-rojo">
        <i class="fas fa-money-check-alt fa-10x"></i>
      </div>
    </div>
  </div>
</div>

<app-inicio-banner></app-inicio-banner>

<div class="container mt-5">
  <h2 class="text-center border-bottom">La seguridad se une al estilo</h2>
  <div class="row">
    <div class="col-sm mt-5">
      <img src="assets/images/c1.jpg" alt="mochila" class="rounded img-fluid">
    </div>
    <div class="col-sm mt-5">
      <h5 class="text-center mt-10">
        NECESITAS ESPACIO EXTRA?
      </h5>
      <p class="text-center">Observa en nuestro catálogo de productos el que vaya de acuerdo a tu gusto, te aseguro que lo <span>encontraras</span>.</p>
      <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn color-rojo mt-5 btn-hover" routerLink="/productos" >VER PRODUCTOS
          <i class="fas fa-shopping-bag"></i>
        </a>
      </div>
    </div>
    <div class="col-sm mt-5">
      <img src="assets/images/c2.jpg" alt="cartera" class="rounded img-fluid">
    </div>
  </div>
</div>

<!-- Services Section Begin -->
<section class="services spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="services__item">
                  <i class="fa fa-car"></i>
                  <h6>Envio gratis</h6>
                  <p>Para todos los pedidos superiores a $50</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="services__item">
                <i class="fas fa-money-bill-alt"></i>                
                  <h6>Garantía de devolución del dinero</h6>
                  <p>Si es bueno, tiene problemas</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="services__item">
                <i class="fas fa-life-ring"></i>
                  <h6>Soporte Online 24/7</h6>
                  <p>Soporte dedicado</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="services__item">
                  <i class="fa fa-headphones"></i>
                  <h6>Pagos Seguros</h6>
                  <p>100% pago seguro</p>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Services Section End -->