<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand title">Jasto´H</a>
      <div class="d-flex">

        <a routerLink="inicio" class="me-2 color-white" routerLinkActive="active">Inicio</a>
        <a routerLink="productos" class="me-2 color-white"  routerLinkActive="active">Productos</a>
        <a routerLink="contactos" class="me-2  color-white"  routerLinkActive="active">Contactanos</a>
        <a routerLink="login" class="me-2  color-white" *ngIf="!isAuth" routerLinkActive="active">Iniciar Session</a>
        <a routerLink="login" class="me-2  color-white" *ngIf="isAuth" routerLinkActive="active" (click)="singout()">Cerrar Session</a>
    
      </div>
    </div>
</nav>

