
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand title" href="/">Jasto'H</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="main-nav nav navbar-nav">
        <li class="nav-item">
          <a routerLink="inicio" class="nav-link nav-hover" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a routerLink="productos" class="nav-link nav-hover"  routerLinkActive="active">Productos</a>
        </li>
        <li class="nav-item">
          <a routerLink="contactos" class="nav-link nav-hover"  routerLinkActive="active">Contactanos</a>
        </li>

        <li>
          <a routerLink="login" class="nav-link nav-hover" *ngIf="!isAuth" routerLinkActive="active">Iniciar Session</a>
        </li>

        <li> 
          <a routerLink="crear" class="nav-link nav-hover" *ngIf="isAuth" routerLinkActive="active" >Crear Producto</a>
        </li>

      </ul>
    </div>
  </div>
</nav> -->

  <!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>



<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <div class="offcanvas__logo">
        <a routerLink="/inicio"><img class="img-fluid" src="assets/images/icono.jpeg" alt="Variedades Jastho"></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
      <li class="nav-item">
        <a routerLink="inicio" class="nav-link nav-hover" routerLinkActive="active">Inicio</a>
      </li>
      <li class="nav-item">
        <a routerLink="productos" class="nav-link nav-hover"  routerLinkActive="active">Productos</a>
      </li>
      <li class="nav-item">
        <a routerLink="contactos" class="nav-link nav-hover"  routerLinkActive="active">Contactanos</a>
      </li>
      <li class="nav-item">
        <a routerLink="blog" class="nav-link nav-hover"  routerLinkActive="active">Blog</a>
      </li>

      <li>
        <a routerLink="login" class="nav-link nav-hover" *ngIf="!isAuth" routerLinkActive="active">Iniciar Session</a>
      </li>

      <li> 
        <a routerLink="crear" class="nav-link nav-hover" *ngIf="isAuth" routerLinkActive="active" >Crear Producto</a>
      </li>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header fixed-top" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a routerLink="/inicio"><img class="img-fluid" src="assets/images/icono.jpeg" alt="Variedades Jastho"></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li class="cursor-pointer" routerLink="inicio" routerLinkActive="active"><a  >Inicio</a></li>
                        <li class="cursor-pointer" routerLink="productos" routerLinkActive="active"><a >Productos</a></li>
                        <li class="cursor-pointer" routerLink="contactos" routerLinkActive="active"><a >Contactos</a></li>
                        <li class="cursor-pointer" routerLink="blog" routerLinkActive="active"><a >Blog</a></li>
                        <li class="cursor-pointer" routerLink="login" routerLinkActive="active" *ngIf="!isAuth"><a >Iniciar Session</a></li>
                        <li class="cursor-pointer" routerLink="crear" routerLinkActive="active" *ngIf="isAuth"><a >Crear Producto</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->