<h1 class="text-center mt-5">Listado de Productos</h1>

<div class="container">


    <div class="">
        <div class="row mt-5 nav nav-tabs">
          <div class="col-sm">
            <button class="btn btn-dark btn-hover" (click)="getProduct('Mujer')">Para Mujer</button>
          </div>
          <div class="col-sm">
            <button class="btn btn-dark btn-hover"  (click)="getProduct('Hombre')">Para Hombre</button>
          </div>
          <div class="col-sm">
            <button class="btn btn-dark btn-hover" (click)="getProduct('Niño')">Para Niño</button>
          </div>
          <div class="col-sm">
            <button class="btn btn-dark btn-hover" (click)="getProduct('Niña')">Para Niña</button>
          </div>
          <div class="col-sm">
            <button class="btn btn-dark btn-hover" (click)="getProduct('NiñoyNiña')">Para Niño y Niña</button>
          </div>
          <div class="col-sm">
            <button class="btn btn-dark btn-hover" (click)="getProduct('Variedades')">Variedades</button>
          </div>
         
        </div>
      </div>

      <div class="container mt-5">
        <form  [formGroup]="search" (ngSubmit)="buscar(search.value)">
          <div class="d-flex"
          >
          <input id="buscar" name="buscar" class="form-control me-2" formControlName="buscar" type="search" placeholder="Escribe el producto que estas buscado" aria-label="Buscar" pattern="[a-zA-Z0-9 ]*">
          <button class="btn btn-outline-success" [disabled]="search.invalid" type="submit">Buscar</button>
        </div>
      
        </form>
      </div>

   
      <div class="row no-span">
          <div class="col-md-3">
            <ul class="list-group mt-5">
                <li class="list-group-item bg-dark text-white" aria-current="true">Buscar por:</li>
                <li class="list-group-item cursor-pointer hover-black" (click)="getProduct('Pantalones')">Pantalones</li>
                <li class="list-group-item cursor-pointer hover-black" (click)="getProduct('Blusas')">Blusas</li>
                <li class="list-group-item cursor-pointer hover-black" (click)="getProduct('Carteras')">Carteras</li>
                <li class="list-group-item cursor-pointer hover-black"(click)="getProduct('Juguetes')">Juguetes</li>
                <li class="list-group-item cursor-pointer hover-black" (click)="getProduct('Maquillaje')">Maquillaje</li>
                <li class="list-group-item cursor-pointer hover-black" (click)="getProduct('Mochilas')">Mochilas</li>
                <li class="list-group-item cursor-pointer hover-black" (click)="getProduct('Zapatos')">Zapatos</li>
                <li class="list-group-item cursor-pointer hover-black" (click)="getProduct('Hogar')">Para el Hogar</li>
              
              </ul>
          </div>
          <div class="col-md-9" *ngIf="productos.length>0">
            <div class="mt-5"  *ngFor="let prod of productos | paginate:{itemsPerPage: 12, currentPage: pageActual, totalItems: totalItems }">
                <div class="card responsive " >
                    <img [src]="prod.imgPortada" class="card-img-top rounded" width="100%" height="250" alt="{{prod.title}}">
                    <div class="card-body">
                      <h5 class="card-title text-center">{{prod.title | uppercase}}</h5>
                      <p class="card-text">{{prod.description}}</p>
                      <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-dark btn-hover" 
                        (click)="productDetail(prod.id,prod.category)">Mas Informacion</button>
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-lg mt-5" *ngIf="loading">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" style="width: 10rem; height: 10rem;" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
          </div>
          </div>
          <div class="col-lg mt-5" *ngIf="productos.length<1">
            <div class="alert alert-warning" role="alert">
                No ay productos que monstrar :(
            </div>
          </div>
      </div>
      <pagination-controls class="my-pagination" (pageChange)="pageActual = $event"
      
      previousLabel="Anterior"
      nextLabel="Siguiente"
      
      ></pagination-controls>

</div>
