
    <!-- ========================= SECTION PAGETOP ========================= -->
    <section class="section-pagetop bg mt-10">
      <div class="container">
          <h2 class="title-page text-center border-bottom">Listado de Productos</h2>
      
          <div class="container mt-5">
            <div class="row">
              <div class="col col-lg-2">
                <img src="assets/images/grid1.jpg" (click)="getProduct('Bolsos de Mano')" class="rounded-circle img-fluid d-block img-anim-small"  alt="bolsas de mano">
                <h5 class="listado text-center" (click)="getProduct('Bolsos de Mano')">Bolsos de Mano</h5>
              </div>
              <div class="col col-lg-2">
                <img src="assets/images/grid2.jpg" (click)="getProduct('Zapatos')" class="rounded-circle img-fluid d-block img-anim-small"  alt="zapatos">
                <h5 class="listado text-center" (click)="getProduct('Zapatos')">Zapatos</h5>
              </div>
              <div class="col col-lg-2">
                <img src="assets/images/grid3.jpg"  (click)="getProduct('Relojes')" class="rounded-circle d-block img-fluid img-anim-small"   alt="zapatos">
                <h5 class="listado text-center" (click)="getProduct('Relojes')">Relojes</h5>
              </div>
              <div class="col col-lg-2">
                <img src="assets/images/grid4.jpg" (click)="getProduct('Ropa')"  class="rounded-circle img-fluid d-block img-anim-small"   alt="zapatos">
                <h5 class="listado text-center" (click)="getProduct('Ropa')">Ropa</h5>
              </div>
              <div class="col col-lg-2">
                <img src="assets/images/grid5.jpg" (click)="getProduct('Accesorios')" class="rounded-circle img-fluid d-block img-anim-small" alt="zapatos">
                <h5 class="listado text-center" (click)="getProduct('Bolsos de Mano')">Accesorios</h5>
              </div>
              <div class="col col-lg-2">
                <img src="assets/images/grid6.jpg" (click)="getProduct('Perfumes')" class="rounded-circle img-fluid d-block img-anim-small"  alt="zapatos">
                <h5 class="listado text-center" (click)="getProduct('Perfumes')">Perfumes</h5>
              </div>
            </div>
          </div>

      </div> <!-- container //  -->
      </section>
      <!-- ========================= SECTION INTRO END// ========================= -->

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option mt-10">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb__links">
                  <a ><i class="fas fa-boxes"></i> Productos</a>
                  <a class="cursor-pointer" routerLink="/productos/{{cate}}">{{cate}}</a>
                  <a *ngIf="productos.length > 0"  >resultados: {{totalItems}}</a>

              </div>
          </div>
      </div>
  </div>
</div>
<!-- Breadcrumb End -->


      <div class="container mt-5">
        <form  [formGroup]="search" (ngSubmit)="buscar(search.value)">
          <div class="d-flex"
          >
          <input id="buscar" name="buscar" class="form-control me-2" formControlName="buscar" type="search" placeholder="Escribe el producto que estas buscado" aria-label="Buscar" pattern="[a-zA-ZñÑ0-9 ]*">
          <button class="btn btn-outline-success" [disabled]="search.invalid" type="submit">Buscar<i class="fas fa-search"></i></button>
        </div>
      
        </form>
      </div>


        <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
      <div class="container">
      
      <div class="row">
          <aside class="col-md-3">
              
      <div class="card">
          <article class="filter-group">
              <header class="card-header">
                  <a class="cursor-pointer decoration-none"  data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" >
                      <i class="icon-control fa fa-chevron-down"></i>
                      <h6 >Buscar por: <span class="title">{{buscarPor}}</span></h6>
                  </a>
              </header>
              <div class="filter-content collapse show" id="collapse_1" style="">
                  <div class="card-body">
                      
              
                      <ul class="list-menu">
                      <div *ngFor="let cate of categorys">
                        <li class="list-group-item cursor-pointer hover-black" (click)="getProduct(cate.id)">{{cate.id}}</li>
                       </div>  
                      </ul>
      
                  </div> <!-- card-body.// -->
              </div>
          </article> <!-- filter-group  .// -->


          <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Filtrar por Precio</h6>
                </a>
            </header>
            <form [formGroup]="filtro" (ngSubmit)="filtrarPrecio(filtro.value)">
              <div class="filter-content collapse show" id="collapse_3" >
                <div class="card-body">                   
                    <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Minimo</label>
                      <input class="form-control" min="1"  placeholder="$1" type="number" name="minimo" formControlName="minimo">
                    </div>
                    <div class="form-group text-right col-md-6">
                      <label>Maximo</label>
                      <input class="form-control" min="1" placeholder="$200" type="number" name="maximo" formControlName="maximo">
                    </div>
                    </div> <!-- form-row.// -->
                    <button type="submit" class="btn btn-block btn-primary" [disabled]="filtro.invalid">Filtrar</button>
                </div><!-- card-body.// -->
            </div>
            </form>
        </article> <!-- filter-group .// -->

         
      </div> <!-- card.// -->
      
          </aside> <!-- col.// -->
          <main class="col-md-9">
      
      
      
            
      <div  *ngIf="productos.length>0">

     
      <article class="card card-product-list" *ngFor="let prod of productos | paginate:{itemsPerPage: 9, currentPage: pageActual, totalItems: totalItems }" >
          <div class="row no-gutters" >
              <aside class="col-md-3">
                  <a  class="img-wrap">
                      <span class="badge badge-danger"> Nuevo </span>
                      <img class="cursor-pointer"  src="{{prod.imgPortada}}" alt="{{prod.title}}" (click)="productDetail(prod.id,prod.category)" appNotImage>
                  </a>
              </aside> <!-- col.// -->
              <div class="col-md-6">
                  <div class="info-main">
                      <a (click)="productDetail(prod.id,prod.category)" class="h5 title cursor-pointer"> {{prod.title | uppercase}}</a>
                      <div class="rating-wrap mb-3">
                          <ul class="rating-stars">
                              <li style="width:100%" class="stars-active"> 
                                  <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                  <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                  <i class="fa fa-star"></i> 
                              </li>
                              <li>
                                  <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                  <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                  <i class="fa fa-star"></i> 
                              </li>
                          </ul>
                          <!-- <div class="label-rating">7/10</div> -->
                      </div> <!-- rating-wrap.// -->
                      
                      <p> {{prod.description}}</p>
                  </div> <!-- info-main.// -->
              </div> <!-- col.// -->
              <aside class="col-sm-3">
                  <div class="info-aside">
                      <div class="price-wrap">
                          <span class="price h5"><i class="fas fa-dollar-sign"></i> {{prod.price}}</span>	
                          <!-- <del class="price-old"> $198</del> -->
                      </div> <!-- info-price-detail // -->
                      <p class="text-success cursor-pointer" (click)="getProduct(prod.category)">Categoria: {{prod.category}}</p>
                      <br>
                      <p>
                          <a  class="btn btn-dark btn-block btn-hover" (click)="productDetail(prod.id,prod.category)"> Detalles  <i class="fas fa-list-ul"></i> </a>
                          <!-- <a  class="btn btn-light btn-block"><i class="fa fa-heart"></i> 
                              <span class="text">Add to wishlist</span>
                          </a> -->
                      </p>
                  </div> <!-- info-aside.// -->
              </aside> <!-- col.// -->
          </div> <!-- row.// -->
      </article> <!-- card-product .// -->
      
    </div>

      <div class="col-lg mt-5" *ngIf="loading">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" style="width: 10rem; height: 10rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
      </div>
      </div>
      <div class="col-lg mt-5" *ngIf="productos.length<1">
        <div class="alert alert-warning" role="alert">
           <p class="h5">Por el momento no ay productos que monstrar lo sentimos :(</p>
        </div>
      </div>
      
      
      
      <nav aria-label="Page navigation sample">
        <ul class="pagination">
          <pagination-controls class="my-pagination" (pageChange)="pageActual = $event"
           previousLabel="Anterior"
            nextLabel="Siguiente"
            ></pagination-controls>

        </ul>
      </nav>
      
          </main> <!-- col.// -->
      
      </div>
      
      </div> <!-- container .//  -->
      </section>
      <!-- ========================= SECTION CONTENT END// ========================= -->
      