<div class="container mt-10">
  <h1 class="text-center ">Listado de Productos</h1>

</div>
<div>


  <div class="container mt-5">
    <div class="row">
      <div class="col-sm">
        <img src="assets/images/grid1.jpg" class="rounded-circle img-fluid d-block img-anim-small"  alt="bolsas de mano">
        <h5 class="listado text-center" (click)="getProduct('Bolsos de Mano')">Bolsos de Mano</h5>
      </div>
      <div class="col-sm">
        <img src="assets/images/grid2.jpg" class="rounded-circle img-fluid d-block img-anim-small"  alt="zapatos">
        <h5 class="listado text-center" (click)="getProduct('Zapatos')">Zapatos</h5>
      </div>
      <div class="col-sm">
        <img src="assets/images/grid3.jpg" class="rounded-circle d-block img-fluid img-anim-small"   alt="zapatos">
        <h5 class="listado text-center" (click)="getProduct('Relojes')">Relojes</h5>
      </div>
      <div class="col-sm">
        <img src="assets/images/grid4.jpg" class="rounded-circle img-fluid d-block img-anim-small"   alt="zapatos">
        <h5 class="listado text-center" (click)="getProduct('Ropa')">Ropa</h5>
      </div>
      <div class="col-sm">
        <img src="assets/images/grid5.jpg" class="rounded-circle img-fluid d-block img-anim-small" alt="zapatos">
        <h5 class="listado text-center" (click)="getProduct('Bolsos de Mano')">Accesorios</h5>
      </div>
      <div class="col-sm">
        <img src="assets/images/grid6.jpg" class="rounded-circle img-fluid d-block img-anim-small"  alt="zapatos">
        <h5 class="listado text-center" (click)="getProduct('Perfumes')">Perfumes</h5>
      </div>
    </div>
  </div>


    <div class="container">



        <div class="row mt-5 nav nav-tabs" *ngIf="">
          <div class="col-sm">
            <button class="btn btn-dark btn-hover" (click)="getProduct('Mujer')">Para Mujer</button>
          </div>
          <div class="col-sm">
            <button class="btn btn-dark btn-hover"  (click)="getProduct('Hombre')">Para Hombre</button>
          </div>
    
          <div class="col-sm">
            <button class="btn btn-dark btn-hover" (click)="getProduct('NiñoyNiña')">Para Niño y Niña</button>
          </div>
         
          <div class="col-sm">
            <button class="btn btn-dark btn-hover" (click)="getProduct('Hogar')">Para el Hogar</button>
          </div>
          
          <div class="col-sm">
            <button class="btn btn-dark btn-hover" (click)="getProduct('Variedades')">Variedades</button>
          </div>
         
        </div>
      </div>

      <div class="container mt-5">
        <form  [formGroup]="search" (ngSubmit)="buscar(search.value)">
          <div class="d-flex"
          >
          <input id="buscar" name="buscar" class="form-control me-2" formControlName="buscar" type="search" placeholder="Escribe el producto que estas buscado" aria-label="Buscar" pattern="[a-zA-Z0-9 ]*">
          <button class="btn btn-outline-success" [disabled]="search.invalid" type="submit">Buscar</button>
        </div>
      
        </form>
      </div>

   
      <div class="row no-span">
          <div class="col-md-3">
            <ul class="list-group mt-5" >
                <li class="list-group-item bg-dark text-white h5" aria-current="true">Buscar por: <span class="title">{{buscarPor}}</span></li>
                <div *ngFor="let cate of categorys">
                 <li class="list-group-item cursor-pointer hover-black" (click)="getProduct(cate.id)">{{cate.id}}</li>
                </div>            
              </ul>
          </div>
          <div class="col-md-9" *ngIf="productos.length>0">
            <div class="mt-5"  *ngFor="let prod of productos | paginate:{itemsPerPage: 12, currentPage: pageActual, totalItems: totalItems }">
              <div class="responsive " >
                <div class="card img-shadow">
                      <img [src]="prod.imgPortada" class="card-img-top rounded img-fluid"  alt="{{prod.title}}">
                      <div class="card-body">
                        <h5 class="card-title text-center">{{prod.title | uppercase}}</h5>
                        <p class="card-text">{{prod.description}}</p>
                        <div class="linea"></div>
                        <div class="d-grid gap-2 col-6 mx-auto">
                          <button class="btn btn-dark btn-hover mt-1" 
                          (click)="productDetail(prod.id,prod.category)">Mas Informacion</button>
                        </div>
                      </div>
                  </div>
              </div>  
            
            </div>
          </div>
          <div class="col-lg mt-5" *ngIf="loading">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" style="width: 10rem; height: 10rem;" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
          </div>
          </div>
          <div class="col-lg mt-5" *ngIf="productos.length<1">
            <div class="alert alert-warning" role="alert">
               <p class="h5">Por el momento no ay productos que monstrar lo sentimos :(</p>
            </div>
          </div>
      </div>
      <pagination-controls class="my-pagination" (pageChange)="pageActual = $event"
      
      previousLabel="Anterior"
      nextLabel="Siguiente"
      
      ></pagination-controls>

</div>

