
<app-navbar></app-navbar>

<div class="accordion accordion-flush mt-10 border cajacookies" id="accordionFlushExample" *ngIf="!getAceptacion()">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="btn btn-link btn-block text-left accordion-button collapsed title-page uppercase" type="button" data-toggle="collapse" data-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
       Uso de cookies
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-parent="#accordionFlushExample">
      <div class="accordion-body">
        Empleamos las cookies para facilitar la utilización de nuestra pagina y adaptar mejor las páginas y nuestros productos a sus intereses y necesidades.
        <strong>Recalcando</strong> no se recopilara sus datos. <strong>Estamos comprometidos con su seguridad.</strong>
        <br>
        <button class="btn btn-lg btn-success" (click)="aceptarCookies()">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!-- Back to top button -->
<a id="button"><i class="fas fa-arrow-up fa-2x mt-2"></i></a>



<div>
  <router-outlet></router-outlet>
</div>

<app-pie></app-pie>