<div class="container mt-5">

        <h1 class="text-center">Contactanos</h1>

        <h2 class="text-center mt-5 mb-5">
            Puedes contactarnos atraves de nuestras redes sociales o via aplicaiones de mensajeria
        </h2>

        <div class="row ml-5">
            <div class="col-sm">
                <img src="assets/images/w.jpg" alt="whatsapp" width="200" class="roudend float-start contact" (click)="contactos('whatsapp')">
            </div>
            <div class="col-sm">
                <img src="assets/images/i.png" alt="Instagram" width="200" class="roudend float-start contact" (click)="contactos('instagram')">
            </div>
            <div class="col-sm">
                <img src="assets/images/telgram.png" alt="Telegram" width="200" class="roudend float-start contact" (click)="contactos('telegram')">
            </div>
        </div>

</div>