<div class="container mt-10">

        <h1 class="text-center">Contactanos</h1>

        <div class="text-center">
            <a class="contactos-degradado ">
                
                <i class="fas fa-handshake fa-7x"></i>
            </a>
        </div>
        <h2 class="text-center mt-5 mb-5">
            Puedes contactarnos atraves de nuestras redes sociales o via aplicaciones de mensajeria
        </h2>

        <div class="row ml-5 contactos">
            <div class="col-sm animacion-icon-whatsapp">
                <img src="assets/images/w.jpg" alt="whatsapp" width="200" class="roudend float-start contact" (click)="contactos('whatsapp')">
            </div>
            <div class="col-sm text-center animacion-icon-instagram">
                <img src="assets/images/i.png" alt="Instagram" width="200" class="roudend  contact" (click)="contactos('instagram')">
            </div>
            <div class="col-sm animacion-icon-telegram">
                <img src="assets/images/telgram.png" alt="Telegram" width="200" class="roudend float-end contact" (click)="contactos('telegram')">
            </div>
        </div>

</div>