/* You can add global styles to this file, and also import other style files */



.color-white {
  color: white;
  transition: transform ease;
}

.color-white:hover {
  color: wheat;
  transform: scale(1.1);
}

.active {
  color: wheat;
  text-decoration: none;
  border-bottom: 2px solid white;
}

.contact {
  transition: transform 0.5s;
  cursor: pointer;
}

.contact:hover {
  transform: scale(1.1);
}

.btn-hover {
  transition: transform 0.5s;
}

.btn-hover:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 8px 2px #343a40;
  text-shadow: 2px 2px 8px 2px wheat;
}

.img-shadow {
  transition: transform 0.5s;
  cursor: pointer;
}

.img-shadow:hover {
  transform: scale(1.1);
  border-radius: 10%;
  box-shadow: 5px 5px 10px 5px #343a40;
}
.title {
  text-shadow: 2px 2px 10px white;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.cursor-pointer{
    cursor: pointer;
}

.decoration-none{
  text-decoration: none;
}

.hover-black{
    transition:background-color 0.4s ;
}

.hover-black:hover{
    color: wheat;
    background-color:#343a40 ;
}

.no-span{
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    flex-wrap: nowrap;
}


.card-border{
  box-shadow: 5px 5px 8px 15px #343a40;
}

.linea{
  height: 2px;
  background-color: #343a40;
  box-shadow: 1px 2px 5px #343a40;
}


.listado{
  transition: all .7s;
}

.listado:hover{
  cursor: pointer;
  color: rgb(228, 188, 115);
  text-decoration: underline;
}


.img-anim-small{
  cursor: pointer;
  transition: all .5s;
}

.img-anim-small:hover{
  transform: scale(0.9);
}


.mt-10{
  margin-top: 6rem;
}



/* .footer{
  height: 50px;
  background: #343a40;
  color: white;
 
}

.footer p{
  font-size: 0.9em;
  line-height: 1.9em;
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-top: 5px;
} */


.opcacity-text{
  opacity: 0.5;
}

.centrar-video{
  margin: 0 auto;
  display: flex;
}

.nav-hover:hover{
  position: relative;
  border-bottom: 2px solid white;

}
@keyframes nav-amim{
  0%{ width: 0%;}
  25%{ width: 25%;}
  50%{ width: 50%;}
  100%{ width: 75%;}
  
}

.border-bottom{
  border-bottom: 1px solid  #343a40;
}


/* desde aqui empieza la copia de lña animacion */

.w3l-grids-hny-2 .boxhny13 {
  position: relative;
  transition: all .2s ease-out 0s;
}

.w3l-grids-hny-2 .boxhny13 .boxhny-content,
.w3l-grids-hny-2 .boxhny13:after {
  position: absolute;
  left: 20px;
  right: 20px;
}

.w3l-grids-hny-2 .boxhny13:after {
  content: "";
  display: block;
  background: rgba(31, 28, 28, 0.74902);
  top: 20px;
  bottom: 20px;
  opacity: 0;
  transform: rotate3d(-1, 1, 0, 100deg);
  transition: all .4s ease-in-out 0s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
}

.w3l-grids-hny-2 .boxhny13:hover:after {
  opacity: .9;
  transform: rotate3d(0, 0, 0, 0deg);
}

.w3l-grids-hny-2 .boxhny13 img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
}

.w3l-grids-hny-2 .boxhny13 .boxhny-content {
  top: 45%;
  opacity: 0;
  z-index: 1;
  transform: translate(10%, -30%);
  transition: all .2s ease-out 0s;
  text-align: center;
}


.w3l-grids-hny-2 .boxhny13:hover .boxhny-content {
  opacity: 1;
  transform: translate(0, -50%);
  transition-delay: .2s;
}

.w3l-grids-hny-2 .boxhny13 .title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin: 0;
  padding-top: 14px;
}


.w3l-grids-hny-2 .boxhny13 .title:hover {
  color: #ff7315;
}


/* hasta aquui */



.cajacookies {
  box-shadow: 0px 0px 5px 5px #808080;
  background-color: white;
  color: black;
  margin-bottom: 0px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 100;
}

.cajacookies button {
  color: black;
}


.w-50{
  width: 100%;
  margin: 15px;
}

.carousel-control-next,
.carousel-control-prev{
  background: #343a40;
  border: #343a40 solid 5px;
  border-radius: 20px;
  opacity: .4;
  height: 50px;
  margin-top: 50%;
  
}



/* Stilos coeapdos */

.related-products {
	padding-top: 0;
	padding-bottom: 50px;
}

.related-products .section-title {
	margin-bottom: 50px;
}

.related-products .section-title h2:before {
	display: none;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}




@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* fin de estiso copiado */




/* Nuevo coóado */
/*fginb copaoid  */








.my-pagination /deep/ .ngx-pagination .current {
  background: #343a40;
  
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
  .w-50{
    width: 100% !important;
    margin: 0 auto;

  }
}

/* desdee aqui vorrar

    too esto

*/
