<div class="container mt-10">
  <h1 class="text-center mb-5 border-bottom">Detalles del Producto</h1>


  <div class="text-center" *ngIf="produto.length<1">
    <div class="spinner-grow" style="width: 10rem; height: 10rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="container" *ngIf="produto.length>0">
      <div class="card card-border mb-3" *ngFor="let prod of produto">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          [src]="prod.imgPortada"
          class="rounded mt-4 ml-4 img-shadow"
          width="250"
          alt="{{ prod.title }}"
          (click)="mostrar(prod.imgPortada)"
              data-bs-toggle="modal" 
              data-bs-target="#exampleModal"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title text-center mb-5">{{ prod.title | uppercase }}</h2>
          <p class="card-text h5">{{ prod.description }}</p>
          <p class="card-text h5">Precio: ${{ prod.price }}</p>
          <p class="card-text h5">Categoria: {{ prod.category }}</p>
          <p class="card-text h5" *ngIf="prod.marca">Marca: {{ prod.marca }}</p>
          <p class="card-text h5">Cantidad Disponible: {{ prod.cantidad }}</p>
          <div class="linea"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <h5 class="text-center d-block">Mas imagenes del Productos</h5>
        <div class="mt-5" *ngFor="let url of urls">
          <div class="card responsive ml-5 mt-5 mb-5">
            <div *ngIf="isVideoOImage(url) === 'video'; then video else imagen">

            </div>
            <ng-template #video>
              <p class="text-center opcacity-text">REPRODUCIR VIDEO RELACIONADO AL PRODUCTO</p>
              <img
              src="assets/images/video.png"
              class="rounded img-fluid img-shadow"
              alt="{{prod.title}}"
              (click)="mostrarVideo(url)"
              data-bs-toggle="modal" 
              data-bs-target="#videoModal"
            />
            </ng-template>
            <ng-template #imagen>
              <img
              [src]="url"
              class="rounded img-fluid img-shadow"
              alt="{{prod.title}}"
              (click)="mostrar(url)"
              data-bs-toggle="modal" 
              data-bs-target="#exampleModal"
            />
            </ng-template>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img [src]="imagem" class="rounded img-fluid img-shadow" width="100%" alt="producto">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal VIDEO -->
<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModal" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" onclick="document.getElementById('videomio').pause();"  data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <video #videomio  id="videomio" class="centrar-video" [src]="videoURL" width="420" controls autoplay></video>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  onclick="document.getElementById('videomio').pause();" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- contactos -->

<div class="container mt-5">

  <h1 class="text-center border-bottom">Contactanos</h1>

  <h2 class="text-center me-2 bottom-5">
      Puedes contactarnos atraves de nuestras redes sociales o via aplicaiones de mensajeria
  </h2>

  <div class="row ml-5">
      <div class="col-sm">
          <img src="assets/images/w.jpg" alt="whatsapp" width="100" class="roudend float-start contact" (click)="contactos('whatsapp')">
      </div>
      <div class="col-sm">
          <img src="assets/images/i.png" alt="Instagram" width="100" class="roudend mx-auto d-block contact" (click)="contactos('instagram')">
      </div>
      <div class="col-sm">
          <img src="assets/images/telgram.png" alt="Telegram" width="100" class="roudend float-end contact" (click)="contactos('telegram')">
      </div>
  </div>

</div>


  <h2 class="text-center mt-5 border-bottom">Productos Relacionados con <span>{{cate}}</span></h2>

  <div class="container mr-5">
        <div class="mt-5" *ngFor="let prod of productos">
      <div class="card responsive me-2 py-5">
        <img
          [src]="prod.imgPortada"
          class="rounded img-shadow"
          width="100%"
          height="auto"
          alt="{{prod.title}"
          (click)="mostrar(prod.imgPortada)"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        />
        <div class="card-body">
          <h5 class="card-title text-center">{{prod.title | uppercase}}</h5>
          <p class="card-text">{{prod.description}}</p>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-dark btn-hover"
            (click)="relacionadosProductos(prod.category,prod.id)" 
           >Mas Informacion</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
